body{
    text-align:center;
    background-color: rgb(238, 115, 115);
    font-size: 25px;
  }  
  
  #album
  {
    height:450px;
    border-radius:30px;
  }
  button
  {
  background-color:#9e4040;
    border-radius: 50px;
    font-size: 25px;
  }